*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: jost;
}

h2{
    font-size: 64px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;

}

p{
    font-size: 20px;
    color:#ffffff;
 
}
section{
    height: 100vh;
    width: 100%;
    place-items: center;
    text-align: center;
    display: grid;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url("/backg1.png");
    background-size: 100%  auto;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

.section-1{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url("/backg2.png");
}
.section-2{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url("/backg3.png");
     background-attachment: fixed;
}
.section-3{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url("/backg4.png");
}
.section-4{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url("/backg5.png");
     background-attachment: fixed;
}
.section-5{
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
    url("/backg6.png");
}